binds {
  Mod+Shift+Slash  { show-hotkey-overlay; }

  Mod+Space       hotkey-overlay-title="Open Application Laucher: fuzzel"   { spawn "fuzzel"; }
  Mod+T           hotkey-overlay-title="Open a Terminal: kitty"             { spawn "kitty"; }
  Mod+B           hotkey-overlay-title="Open a Browser: zen-browser"        { spawn "zen-browser"; }
  Mod+E           hotkey-overlay-title="Open Emoji picker: bemoji"          { spawn "bemoji" "-n"; }
  Mod+A           hotkey-overlay-title="Open Gemini: helium-browser"        { spawn "helium-browser" "--app=https://gemini.google.com"; }
  Mod+Y           hotkey-overlay-title="Open YouTube: helium-browser"       { spawn "helium-browser" "--app=https://youtube.com"; }
  Mod+Z           hotkey-overlay-title="Open Jellyfin: helium-browser"      { spawn "helium-browser" "--app=http://192.168.1.166:8096"; }
  Mod+W           hotkey-overlay-title="Set a random wallpaper"             { spawn "wallpaper.py" "shuffle" "anime"; }
  Mod+Shift+W     hotkey-overlay-title="Auto-change wallpaper every 600s"   { spawn "wallpaper.py" "auto" "600" "anime"; }
  Mod+Alt+Escape  hotkey-overlay-title="Lock the Screen: gtklock"           { spawn "gtklock"; }

  Print        { screenshot; }
  Ctrl+Print   { screenshot-screen; }
  Shift+Print  { screenshot-window; }
  Mod+S        { screenshot; }
  Mod+Ctrl+S   { screenshot-screen; }
  Mod+Shift+S  { screenshot-window; }

  Mod+Q             { close-window; }
  Mod+Shift+Q       { power-off-monitors; }
  Mod+Shift+Ctrl+Q  { quit skip-confirmation=true; }
  Ctrl+Alt+Delete   { quit; }

  Mod+Escape  allow-inhibiting=false  { toggle-keyboard-shortcuts-inhibit; }
  Mod+X       repeat=false            { toggle-overview; }

  Mod+Left   { focus-column-left; }
  Mod+Down   { focus-window-down; }
  Mod+Up     { focus-window-up; }
  Mod+Right  { focus-column-right; }
  Mod+H      { focus-column-left; }
  Mod+J      { focus-window-down; }
  Mod+K      { focus-window-up; }
  Mod+L      { focus-column-right; }

  Mod+Ctrl+Left   { move-column-left; }
  Mod+Ctrl+Down   { move-window-down; }
  Mod+Ctrl+Up     { move-window-up; }
  Mod+Ctrl+Right  { move-column-right; }
  Mod+Ctrl+H      { move-column-left; }
  Mod+Ctrl+J      { move-window-down; }
  Mod+Ctrl+K      { move-window-up; }
  Mod+Ctrl+L      { move-column-right; }

  Mod+Home       { focus-column-first; }
  Mod+End        { focus-column-last; }
  Mod+Ctrl+Home  { move-column-to-first; }
  Mod+Ctrl+End   { move-column-to-last; }

  Mod+Shift+Left   { focus-monitor-left; }
  Mod+Shift+Down   { focus-monitor-down; }
  Mod+Shift+Up     { focus-monitor-up; }
  Mod+Shift+Right  { focus-monitor-right; }
  Mod+Shift+H      { focus-monitor-left; }
  Mod+Shift+J      { focus-monitor-down; }
  Mod+Shift+K      { focus-monitor-up; }
  Mod+Shift+L      { focus-monitor-right; }

  Mod+Shift+Ctrl+Left   { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+Down   { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+Up     { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+Right  { move-column-to-monitor-right; }
  Mod+Shift+Ctrl+H      { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+J      { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+K      { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+L      { move-column-to-monitor-right; }

  Mod+Page_Down       { focus-workspace-down; }
  Mod+Page_Up         { focus-workspace-up; }
  Mod+U               { focus-workspace-down; }
  Mod+I               { focus-workspace-up; }
  Mod+Ctrl+Page_Down  { move-column-to-workspace-down; }
  Mod+Ctrl+Page_Up    { move-column-to-workspace-up; }
  Mod+Ctrl+U          { move-column-to-workspace-down; }
  Mod+Ctrl+I          { move-column-to-workspace-up; }

  Mod+Shift+Page_Down  { move-workspace-down; }
  Mod+Shift+Page_Up    { move-workspace-up; }
  Mod+Shift+U          { move-workspace-down; }
  Mod+Shift+I          { move-workspace-up; }

  Mod+1  { focus-workspace 1; }
  Mod+2  { focus-workspace 2; }
  Mod+3  { focus-workspace 3; }
  Mod+4  { focus-workspace 4; }
  Mod+5  { focus-workspace 5; }
  Mod+6  { focus-workspace 6; }
  Mod+7  { focus-workspace 7; }
  Mod+8  { focus-workspace 8; }
  Mod+9  { focus-workspace 9; }
  Mod+Ctrl+1  { move-column-to-workspace 1; }
  Mod+Ctrl+2  { move-column-to-workspace 2; }
  Mod+Ctrl+3  { move-column-to-workspace 3; }
  Mod+Ctrl+4  { move-column-to-workspace 4; }
  Mod+Ctrl+5  { move-column-to-workspace 5; }
  Mod+Ctrl+6  { move-column-to-workspace 6; }
  Mod+Ctrl+7  { move-column-to-workspace 7; }
  Mod+Ctrl+8  { move-column-to-workspace 8; }
  Mod+Ctrl+9  { move-column-to-workspace 9; }

  Mod+BracketLeft   { consume-or-expel-window-left; }
  Mod+BracketRight  { consume-or-expel-window-right; }

  Mod+Comma   { consume-window-into-column; }
  Mod+Period  { expel-window-from-column; }

  Mod+R          { switch-preset-column-width; }
  Mod+Shift+R    { switch-preset-window-height; }
  Mod+Backslash  { reset-window-height; }

  Mod+F             { maximize-column; }
  Mod+Ctrl+F        { expand-column-to-available-width; }
  Mod+Shift+F       { fullscreen-window; }
  Mod+Ctrl+Shift+F  { toggle-windowed-fullscreen; }

  Mod+C       { center-column; }
  Mod+Ctrl+C  { center-visible-columns; }

  Mod+Minus  { set-column-width "-10%"; }
  Mod+Equal  { set-column-width "+10%"; }

  Mod+Shift+Minus  { set-window-height "-10%"; }
  Mod+Shift+Equal  { set-window-height "+10%"; }

  Mod+V        { toggle-window-floating; }
  Mod+Shift+V  { switch-focus-between-floating-and-tiling; }

  Mod+Slash  { toggle-column-tabbed-display; }
}
