input {
  keyboard { numlock; }
  tablet { map-to-output "DP-5"; }
  focus-follows-mouse max-scroll-amount="30%"
}

output "DP-5" {
  mode "2560x1440@144"
  position x=0 y=0
}
output "DP-4" {
  mode "2560x1440@144"
  position x=2560 y=0
  focus-at-startup
}
output "DP-6" {
  mode "3840x1600@143.998"
  position x=5120 y=0
  layout {
    preset-column-widths {
      proportion 0.25
      proportion 0.5
      proportion 0.75
    }
  }
}

workspace "left" { open-on-output "DP-4"; }
workspace "right" { open-on-output "DP-5"; }
workspace "ultrawide" { open-on-output "DP-6"; }
